/*-------------------------Table of contents-------------
01. =google fonts
02. =variables
03. =overrides variables for - theme dark
04. =base
05. =box
06. =costumized bootsrtap classes
07. =animation keyframes
08. =section, -padding, title
09. =buttons
10. =page loader
11. =circular img
12. =forms 
13. =video modal
14. =pagination
15. =breadcrumb
16. =tabs
17. =bubble animation
18. =style swticher
19. =header 
20. =footer
21. =banner section 
22. =fun facts section
23. =course section
24. =testimonials sectrion
25. =bai section
26. =course details section
27. =contact section
*/

/*----------------------01. =google fonts-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*----------------------02. =variables-----------------*/

:root {
  --orange: hsl(36, 80%, 50%);
  --white: hsl(0, 0%, 100%);
  --WHITE: hsl(0, 0%, 100%);
  --BLACK: hsl(0, 0%, 0%);
  --black-90: hsl(0, 0%, 10%);
  --black-70: hsl(0, 0%, 30%);
  --black-alpha-40: hsl(0, 0%, 0%, 0.4);
  --yellow-light: hsl(44, 95%, 83%);
  --green-light: hsl(158, 68%, 75%);
  --red-light: hsl(0, 84%, 80%);
  --orange-light: hsl(22, 85%, 80%);
  --select-box-bg-color: hsl(0, 0%, 100%);
  --border-color-1: hsl(0, 0%, 90%);
}

/*------------------------------    =base   ------------------------*/
body {
  background-color: var(--body-bg-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--black-70);
  min-height: 100vh;
  overflow: hidden;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--WHITE);
  background-color: var(--main-color);
}

/*--------------------------- 19. =header ---------------------*/
.header {
  border-bottom: 1px solid var(--border-color-2);
}

.header-logo a {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black-70);
}

.header-logo span {
  color: #fff;
  background: rgb(195, 219, 231);
  background: linear-gradient(
    56deg,
    rgba(195, 219, 231, 1) 0%,
    rgba(26, 116, 195, 1) 57%,
    rgba(3, 10, 18, 1) 100%
  );
  padding: 10px;
  border-radius: 50%;
  margin-right: 3px;
}

.header .menu-item {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

.header .menu-item > a {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  color: var(--black-90);
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.header .menu-item > a {
  font-size: 13px;
  margin-left: 3px;
  pointer-events: none;
}

.header .sub-menu {
  position: absolute;
  top: 100%;
  background-color: var(--white);
  left: 0;
  width: 210px;
  padding: 10px 0;
  border-radius: 5px;
}

.header-backdrop,
.header-close-btn,
.header-hamburger-btn {
  display: none;
}
